############################
# Xcode
############################

# Build results
build/
DerivedData/

# User-specific Xcode files
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcbkptlist
*.xcscmblueprint
*.moved-aside
*.hmap

# Playgrounds
timeline.xctimeline
playground.xcworkspace

############################
# Swift Package Manager
############################

.build/
.swiftpm/
Packages/
Package.resolved

############################
# CocoaPods
############################

Pods/
# IMPORTANT: do NOT ignore .xcworkspace

############################
# Carthage
############################

Carthage/Build/
Carthage/Checkouts/

############################
# fastlane
############################

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

############################
# macOS
############################

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

############################
# IDEs
############################

.idea/
*.iml
*.swp
*.swo
*~

############################
# Certificates & Secrets
############################

.env
.env.*
*.pem
*.p12
*.key

############################
# Firebase
############################

specs/
GoogleService-Info.plist
